<div class="container-fluid card">
  <div class="row card__row">
      <div class="col-11 col-sm-5 col-md-3 col-lg-2 card__col">
          <div class="card__content">
              <p>NOME DO PRATO ----- VALOR</p>
              <ul>
                  <li>ingredient 01</li>
                  <li>ingredient 02</li>
                  <li>ingredient 03</li>
              </ul>
          </div>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-2 card__col">
          <div class="card__content">
              <p>NOME DO PRATO ----- VALOR</p>
              <ul>
                  <li>ingredient 01</li>
                  <li>ingredient 02</li>
                  <li>ingredient 03</li>
              </ul>
          </div>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-2 card__col">
          <div class="card__content">
              <p>NOME DO PRATO ----- VALOR</p>
              <ul>
                  <li>ingredient 01</li>
                  <li>ingredient 02</li>
                  <li>ingredient 03</li>
              </ul>
          </div>
      </div>
      <div class="col-11 col-sm-5 col-md-3 col-lg-2 card__col">
          <div class="card__content">
              <p>NOME DO PRATO ----- VALOR</p>
              <ul>
                  <li>ingredient 01</li>
                  <li>ingredient 02</li>
                  <li>ingredient 03</li>
              </ul>
          </div>
      </div>

  </div>
</div>


<div class="kitchen-footer">
  <div class="col-6 col-sm-4 kitchen-footer__btns">
      <button type="button" class="btn kitchen-footer__btn">FINALIZAR</button>
      <button type="button" class="btn kitchen-footer__btn">RESTAURAR</button>
  </div>

  <div class="col-6 col-sm-4 kitchen-footer__solicitation">
      <p>TOTAL: 4 PEDIDOS</p>
  </div>


</div>
