<div class="container-fluid registerPlate">
  <div class="row registerPlate__row">
      <div class="col-11 col-sm-8 col-md-6 ol-lg-4 col-xl-4 col-xxl-3 registerPlate__register">
          <h1 class="mb-3">Cadastro</h1>
          <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Nome do Prato</label>
              <input type="text" class="form-control" id="formGroupExampleInput" >
          </div>
          <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Ingredientes</label>
              <input type="text" class="form-control" id="formGroupExampleInput" >
          </div>

          <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Acompanhamentos</label>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option value="1">SOBREMESA</option>
                  <option value="2">BEBIDA</option>
              </select>
          </div>
          <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Categorias</label>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option value="1">COMBOS</option>
                  <option value="2">INDIVIDUAL</option>
                  <option value="3">SOBRAMESA</option>
                  <option value="4">BEBIDA</option>
              </select>
          </div>
          <div class="button mb-3">
              <button type="button" class="col-12 btn registerPlate__btn"><strong>CADASTRAR</strong></button>
          </div>
      </div>
  </div>
</div>
